body{
    max-width: 100%;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    color: rgba(0, 110, 253, 0.719);
}

h3{
    color: rgb(232 77 185);
}

.orange-color{
    color: orange;
}

section{
    display: flex;
    margin-top: 50px;
    margin-bottom: 150px;
}

.half-width{
    width: 50%;
    padding-left: 5%;
}

.half-width img{
    width: 80%;
}

.link-button{
    color: whitesmoke;
    background-image: linear-gradient(#FF9975,#FF6C4E );
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
}

#dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.half-width-right{
    width: 50%;
    padding-left: 5%;
    padding-right: 10%;
}

.half-width-right img{
    width: 80%;
}
#experience{
    padding-left: 5%;

}

#exp-section{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;   
}

.box-shadow{
    box-shadow: 10px 10px 50px gray;
    padding: 60px 30px ;
    margin: 0 50px;
    border-radius: 10px;
}

#rd-border-img{
    border-left: 10px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
#ld-border-img{
    border-left: 10px solid;
    border-image: linear-gradient( tomato,pink);
    border-image-slice: 1;
}

.h1-font{
    font-size: 45px;
}

#last-div{
    border-left: 10px solid;
    border-image: linear-gradient(rgb(140, 0, 255),rgb(255, 1, 234));
    border-image-slice: 1;
    margin: auto;
    margin-bottom: 150px;
}
#last-div h2{
    color:navy;
}

footer{
    text-align: center;
    color: navy;
    font-weight: bolder;
}